<div layout="column">
    <div layout="row">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1 flex md-truncate>ZEITERFASSUNG</h1>
                <md-button class="md-raised md-primary" ng-disabled="true">INFO</md-button>
            </div>
        </md-toolbar>
    </div>
    <div layout="row" layout-padding layout-margin layout-align="center center">
        <md-whiteframe class="md-whiteframe-2dp" flex="35">
            <div layout="column">
                <div flex="80">
                    <h1>Zeiterfassung vom Feinsten</h1>
                    <p>Natürlich erdacht an der HTL Rennweg...</p>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <div layout="row" layout-align="end end">
                    <md-button class="md-raised md-primary" ui-sref="zeiterfassung">ZEITEN ERFASSEN</md-button>
                </div>
            </div>
        </md-whiteframe>
    </div>
</div>
